<%- include('../partials/header') %>

<h1>Create Event</h1>
<form action="/new/event" method="POST">
    <label>Event Title:
        <br><input type="text" name="title">
    </label><br>
    <label>Date:
        <br><input type="date" name="date">
    </label><br>
    <label>Location:
        <br><input type="text" name="location">
    </label><br>
    <label>Description:
        <br><input type="text" name="description" placeholder="include details here">
    </label><br>
    <button type="submit">Add Event</button>
</form>

<%- include('../partials/footer') %>