<%- include('../partials/header') %>

<h1>Create Event</h1>

<label>Event Title:
    <input type="text" name="title">
</label><br>
<label>Date:
    <input type="date">
</label><br>
<label>Location:</label>
    <input type="text">
<br><label>Description:</label>
    <input type="text">
<%- include('../partials/footer') %>