<%- include('./partials/header') %>

    <body>
        <h1>Welcome to <%= title %></h1>
        <h3>Put your events out there for the community to come together</h3>

        <h4>Log in to create your own event or join an event!</h4>
    </body>
    </html>

<%- include('./partials/footer') %>