* {
  /* box-sizing: border-box; */
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  color: #424748;
}

body {
  margin: 0px;
  display: grid;
  grid-template-rows: 60px 5fr;
}

h1 {
  font-size: 50px;
  text-align: center;
}


h3, h4 {
  font-size: 40px ;
  text-align: center;
}

a {
  color: #000000;
}

nav {
  background-color: rgb(163, 225, 155);
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 20px 0 30px;
};

nav > a {
  margin: 30px;
  text-decoration: none;
  padding: 30px;
  border-radius: 2px;
}

nav > a:hover:not(.active) {
  color: rgb(111, 193, 255);
}

nav > a.active {
  color: rgb(255, 255, 255);
  cursor: default;
}

table {
  width: 80%;
  border-radius: 8px;
  margin: auto;
}

table, th, td {
  border: 3px solid;
  padding: 10px;
}

th {
  background-color: rgb(163, 225, 155);
}

input [type=date] {
  width: 20%;
  border: 1 px solid #ccc;
  border-radius: 4px;
}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.event-user {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.event-user img {
  border-radius: 50%;
  height: 40px;
}


